@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use CSS variables if needed later for theming */

@layer base {
	html {
		@apply font-body;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-heading;
	}
}
